#dark_mode {
  color: #ffffff;
}
.dark_mode {
  background-color: #181A1B;
}

#light_mode{
  display: none;
}
@font-face {
  font-family: "Defont";
  src: url("font/Default-webfont.woff") format('woff');
}
@font-face {
  font-family: Minecraft;
  src: url("font/minecraft-webfont.woff") format('woff');
}
*{
  overflow: hidden;
  font-family: Defont;
  letter-spacing: 3px;
}

/* Added by fox to remove the empty space between content and edge of the page */
html, body {
  margin: 0px !important;
  padding: 0px !important;
  height: 100%;
  width: 100%;
}

/* BEGIN SLIDER */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* END SLIDER */

::selection {
  color: #c6c5c5;
  background: #2d2d2d;
}
/*BEGIN NAVBAR*/
.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav_bar ul li {
  float: right;
}

.nav_bar ul li a {
  font-family: Minecraft !important;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_bar ul li a:hover {
  background-color: #111;
}
.main_header {
  font-family: Minecraft;
  text-align: center;
}

/*END NAVBAR*/
